<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Authentication Modes: ClientId, UserNamePassword -->
    <add key="authMode" value="ClientId" />
    <add key="applicationId" value="e309e45d-5bd9-4fc3-a3a5-9ad55efa0393" />
    <add key="pbiUsername" value="[ENTER USER NAME HERE]" />
    <add key="pbiPassword" value="[ENTER PASSWORD HERE]" />

    <add key="token" value="" />

    <add key="APIbaseURL" value="https://api.powerbi.com/v1.0/myorg/" />

    <add key="apiUrl" value="https://api.powerbi.com/" />
    <add key="redirectUrl" value="urn:ietf:wg:oauth:2.0:oob" />
    <add key="resourceUrl" value="https://analysis.windows.net/powerbi/api" />
    <add key="authorityUrl" value="https://login.microsoftonline.com/common/oauth2/authorize" />

    <add key="workspaceId" value="f3734cbb-2e41-474c-82d7-124bd3ab4f67" />
    <add key="reportId" value="e9aade3c-8fc4-4411-9d08-80a984f65b8d" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>