<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" />
    </system.webServer>
  </location>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="applicationId" value="e309e45d-5bd9-4fc3-a3a5-9ad55efa0393" />
    <add key="workspaceId" value="f3734cbb-2e41-474c-82d7-124bd3ab4f67" />
    <!-- The id of the report to embed. If empty, will use the first report in group -->
    <add key="reportId" value="e9aade3c-8fc4-4411-9d08-80a984f65b8d" />
    <!-- Note: Do NOT leave your credentials on code. Save them in secure place. -->
  </appSettings>
</configuration>